[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "lib/SDL"]
	path = lib/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "lib/OpenMesh"]
	path = lib/OpenMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "lib/entt"]
	path = lib/entt
	url = git@github.com:skypjack/entt.git
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "lib/nativefiledialog-extended"]
	path = lib/nativefiledialog-extended
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = git@github.com:mackron/miniaudio.git
	branch = dev
[submodule "lib/faust"]
	path = lib/faust
	url = git@github.com:grame-cncm/faust.git
[submodule "lib/tetgen"]
	path = lib/tetgen
	url = git@github.com:libigl/tetgen.git
[submodule "lib/imspinner"]
	path = lib/imspinner
	url = git@github.com:dalerank/imspinner.git
[submodule "lib/implot"]
	path = lib/implot
	url = git@github.com:epezent/implot.git
[submodule "lib/lunasvg"]
	path = lib/lunasvg
	url = git@github.com:sammycage/lunasvg.git
